 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div>
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
            </div>
            <footer>
                Crafted by {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
            </footer>
        </div>
    </section>
